@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Poppins:wght@400;600;700&display=swap");

.App {
  color: #fff;
  background-color: #252525;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif; */
