.first {
  height: 100vh;
  text-align: left;
  padding-left: 15vw;
  padding-top: 35vh;
}
.iuri {
  font-size: 9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.descricao {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
}

.setita {
  text-align: center;
  padding-right: 15vw;
}
.setita img {
  width: 3rem;
  padding-top: 30vh;
}
/* media query */

@media only screen and (max-width: 900px) {
  .first {
    padding-left: 12vw;
    padding-top: 30vh;
  }
  .iuri {
    font-size: 7rem;
  }
}
@media only screen and (max-width: 650px) {
  .iuri {
    font-size: 5rem;
  }
  .setita img {
    padding-top: 20vh;
  }
}
@media only screen and (max-width: 500px) {
  .iuri {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 400px) {
  .first {
    padding-left: 12vw;
    padding-top: 25vh;
  }
  .iuri {
    font-size: 3.2rem;
  }
  .setita img {
    padding-top: 15vh;
  }
}
